infrastructure/failover/n8n-peladn-watchdog.json
{
  "name": "peladn-watchdog",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "note": "Alert-only. Polls Peladn every 2 min; ntfy alert after 3 consecutive misses (~6 min). Does NOT auto-restore (avoid split-brain). Map the PVE header-auth credential. See ../README.md." },
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "minutes", "minutesInterval": 2 } ] } },
      "id": "node-sched",
      "name": "Every 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "https://192.168.4.150:8006/api2/json/version",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 10000, "allowUnauthorizedCerts": true }
      },
      "id": "node-check",
      "name": "Check Peladn API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE_PVE_TOKEN_CRED_ID", "name": "PVE Peladn token" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst item = $input.first().json;\nconst healthy = !!(item && item.data && item.data.version);\nif (healthy) { sd.failCount = 0; return [{ json: { alert: false, count: 0 } }]; }\nsd.failCount = (sd.failCount || 0) + 1;\n// alert exactly once, at the 3rd consecutive miss (~6 min), to avoid spam\nreturn [{ json: { alert: sd.failCount === 3, count: sd.failCount } }];"
      },
      "id": "node-counter",
      "name": "3-strike counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "version": 2 }, "combinator": "and", "conditions": [ { "leftValue": "={{ $json.alert }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ] }
      },
      "id": "node-if",
      "name": "Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/REPLACE-with-your-private-topic",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "Peladn unreachable ~6 min. If it is really down, POST the peladn-failover webhook to restore on Evo-X2.",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Title", "value": "Peladn DOWN" },
          { "name": "Priority", "value": "urgent" },
          { "name": "Tags", "value": "warning" }
        ] },
        "options": {}
      },
      "id": "node-alert",
      "name": "ntfy: Peladn down",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 220]
    }
  ],
  "connections": {
    "Every 2 min": { "main": [ [ { "node": "Check Peladn API", "type": "main", "index": 0 } ] ] },
    "Check Peladn API": { "main": [ [ { "node": "3-strike counter", "type": "main", "index": 0 } ] ] },
    "3-strike counter": { "main": [ [ { "node": "Alert?", "type": "main", "index": 0 } ] ] },
    "Alert?": { "main": [ [ { "node": "ntfy: Peladn down", "type": "main", "index": 0 } ], [] ] }
  },
  "pinData": {}
}
