infrastructure/failover/n8n-peladn-failover.json
{
  "name": "peladn-failover",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "note": "Import into n8n. Map the SSH credential (Evo-X2 root). Notification uses ntfy.sh (Peladn-independent) — change the topic. See ../README.md." },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "peladn-failover",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Failover Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "peladn-failover"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/REPLACE-with-your-private-topic",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "Peladn failover STARTING — restoring 201/202/203 on Evo-X2",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Title", "value": "Peladn failover starting" },
          { "name": "Priority", "value": "urgent" },
          { "name": "Tags", "value": "rotating_light" }
        ] },
        "options": {}
      },
      "id": "node-notify-start",
      "name": "Notify: starting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "resource": "command",
        "command": "curl -fsSL https://raw.githubusercontent.com/DeepAchut/Homelab-ops/main/infrastructure/failover/peladn-failover.sh -o /usr/local/bin/peladn-failover.sh 2>/dev/null || true; chmod +x /usr/local/bin/peladn-failover.sh; bash /usr/local/bin/peladn-failover.sh 2>&1 | tail -30"
      },
      "id": "node-ssh",
      "name": "SSH Evo-X2: run failover",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [660, 300],
      "credentials": { "sshPassword": { "id": "REPLACE_SSH_CREDENTIAL_ID", "name": "Evo-X2 root SSH" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/REPLACE-with-your-private-topic",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.stdout || $json.stderr || 'failover finished — check n8n execution' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Title", "value": "Peladn failover finished" },
          { "name": "Priority", "value": "high" },
          { "name": "Tags", "value": "white_check_mark" }
        ] },
        "options": {}
      },
      "id": "node-notify-done",
      "name": "Notify: result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Failover Trigger": { "main": [ [ { "node": "Notify: starting", "type": "main", "index": 0 } ] ] },
    "Notify: starting": { "main": [ [ { "node": "SSH Evo-X2: run failover", "type": "main", "index": 0 } ] ] },
    "SSH Evo-X2: run failover": { "main": [ [ { "node": "Notify: result", "type": "main", "index": 0 } ] ] }
  },
  "pinData": {}
}
